html
	// Include le fichier CSS avec: link(rel="stylesheet", href="/style.css")
	
	link(href="./style.css" rel="stylesheet" type="text/css")
	include ./views/head

	block body
		body
			header
				div#header-title-section
					p.header-main-title Labo Semantic IA
					p.header-second-title Intelligence artificielle
					p.header-second-title Web sémantique
				div(style="float:left;")
					img(src='./img/logo-coding.png' style="height:60px;")
				div#header-navigation-section
					a.navigation-button(href='./index.pug') Home
					a.navigation-button(href='./team.pug') Team
					a.navigation-button(href='./projects.pug') Projects
					a.navigation-button(href='./publications.pug') Publications
					a.navigation-button Contact
			div#content
				block content
			footer
				p foooooooter

	