extends layout

block content
	include ./views/projects-variables
	
	h1 Current projects
		ul
			each project in currentProjects
				li.font-size-14
					p.font-size-14.no-margin #{project.student}, #{project.title}
					p.project-sub-title.no-margin Supervisor: #{project.supervisor}
					p.project-sub-title.no-margin Co-supervisor(s): #{project.cosupervisors}

	h1 Past projects

