extends layout

block content
	include ./views/bourgoin-master
	
	h1= project.title
	p.project-sub-title.no-margins.margin-left-10 Student: #{project.title}
	p.project-sub-title.no-margins.margin-left-10 Supervisor: #{project.supervisor}
	p= project.description
